/* Styles for the Demo Wrapper */
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #2e2d62;
}
header {
  background-color: #a91b2e;
}
header h1,
header a {
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
header h1 {
  float: left;
  margin: 0;
}
header a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  float: right;
  background-color: #3e863e;
}
header a:hover {
  background-color: #67c04d;
}
.demo-content {
  max-width: 934px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* Styles for the Advent Calendar */
ul#adventDoors {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#adventDoors li {
	position: absolute;
}
#adventDoors li a {
	color: #fbbb10;
	width: 100%;
	height: 100%;
	font-size: 28px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	border: 1px #f08900 solid;
}
#adventDoors li a:not(.disabled):hover {
	color: #67c04d;
	background-color: transparent;
	background-color: rgba(255,255,255,0.15);
}
#adventDoors li a.disabled {
	border-color: #e94d36;
	background-color: #676767;
	color: #e94d36;
	cursor: default;
}
